apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: example-with-logs
  name: example-with-logs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: example-with-logs
  strategy: {}
  template:
    metadata:
      labels:
        app: example-with-logs
    spec:
      containers:
      - image: busybox
        name: busybox
        command:
          - echo "hello world"
          - "&& sleep"
          - "3600"
        resources: {}
status: {}
